/* https://github.com/crhallberg/autocomplete.js 0.16.3 */
.autocomplete-results {
  position: absolute;
  display: table;
  margin: 0;
  margin-top: 2px;
  padding: 0;
  border: 1px solid lightgray;
  background-color: inherit;
  overflow: hidden;
  z-index: 50;
}
.autocomplete-results .ac-item {
  display: block;
  margin: 0;
  padding: .5rem;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}
.autocomplete-results .ac-item:last-child { border: 0; }
.autocomplete-results .ac-item:hover { background-color: lightgray; }
.autocomplete-results .ac-item.loading { background-color: inherit; }
.autocomplete-results .ac-item.selected {
  background-color: black;
  color: white;
}
.autocomplete-results .ac-item small {
  display: block;
  color: darkgray;
}
.autocomplete-results .ac-section-header {
  float: right;
  display: block;
  margin-top: -1.75rem;
  padding: 0 .5rem;
  color: gray;
  background-color: #fff;
}
.autocomplete-results .ac-section-divider {
  margin: 1rem .5rem;
  border: 0;
  border-top: 2px solid lightgray;
}