/* https://github.com/vufind-org/autocomplete.js 1.0b2 */
$autocomplete-item-bg   : inherit   !default;
$autocomplete-active-bg : black     !default;
$autocomplete-hover-bg  : lightgray !default;
$autocomplete-border    : lightgray !default;
$autocomplete-secondary : slategray !default; // item description

.autocomplete-results {
  position: absolute;
  display: table;
  margin: 0;
  margin-top: 2px;
  padding: 0;
  border: 1px solid $autocomplete-border;
  overflow: hidden;
  z-index: 50;
}
.autocomplete-results small {
  display: block;
  color: $autocomplete-secondary;
}

.ac-item {
  display: block;
  margin: 0;
  padding: .5rem;
  border-bottom: 1px solid $autocomplete-border;
  background-color: $autocomplete-item-bg;
  cursor: pointer;

  &:last-child { border: 0; }
  &:hover { background-color: $autocomplete-hover-bg; }
  &.loading { background-color: $autocomplete-item-bg; }
  &.selected {
    background-color: $autocomplete-active-bg;
    color: if(lightness($autocomplete-active-bg) > 50, black, white);
  }
}

.ac-section-header {
  float: right;
  display: block;
  margin-top: -1.5rem;
  padding: 0 .5rem;
  font-size: 12px;
  color: $autocomplete-border;
  background-color: #fff;
}

.ac-section-divider {
  margin: 1rem .5rem;
  border: 0;
  border-top: 2px solid $autocomplete-border;
}
