/* https://github.com/vufind-org/autocomplete.js */
.autocomplete-results {
  position: absolute;
  display: none;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  z-index: 10;
}
.autocomplete-results.open {
  display: table;
}

.ac-item {
  display: block;
  margin: 0;
  padding: 0.25rem 0.5rem;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  text-decoration: none;
}
.ac-item:last-child {
  border: 0;
}

.ac-item.selected,
.ac-item:hover {
  color: white;
  background-color: black;
}
.ac-item small {
  display: block;
  color: slategray;
  text-decoration: none;
}
.ac-item.selected small,
.ac-item:hover small {
  color: lightgray;
}

.ac-header {
  font-size: smaller;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: slategray;
}
.ac-header:hover {
  background-color: gray;
  cursor: default;
}
